In [1]:
import pandas as pd

import sklearn.model_selection
import sklearn.datasets
import sklearn.metrics

import autosklearn.classification

try:
    import openml
except ImportError:
    print("#"*80 + """
    To run this example you need to install openml-python:
    pip install git+https://github.com/renatopp/liac-arff
    pip install requests xmltodict
    pip install git+https://github.com/openml/openml-python@develop --no-deps\n""" +
          "#"*80)
    raise

In [2]:
# Load adult dataset from openml.org, see https://www.openml.org/t/2117
openml.config.apikey = '610344db6388d9ba34f6db45a3cf71de'

task = openml.tasks.get_task(2117)
train_indices, test_indices = task.get_train_test_split_indices()
X, y = task.get_X_and_y()

In [3]:
pd.DataFrame(X).head()

    0    1         2    3     4    5    6    7    8    9    10   11   12    13
0  2.0  5.0   77516.0  0.0  13.0  2.0  8.0  3.0  0.0  1.0  1.0  0.0  2.0   0.0
1  3.0  1.0   83311.0  0.0  13.0  0.0  4.0  2.0  0.0  1.0  0.0  0.0  0.0   0.0
2  2.0  0.0  215646.0  3.0   9.0  1.0  6.0  3.0  0.0  1.0  0.0  0.0  2.0   0.0
3  3.0  0.0  234721.0  2.0   7.0  0.0  6.0  2.0  4.0  1.0  0.0  0.0  2.0   0.0
4  1.0  0.0  338409.0  0.0  13.0  0.0  5.0  0.0  4.0  0.0  0.0  0.0  2.0  12.0

In [4]:
pd.DataFrame(y).head()

   0
0  1
1  1
2  1
3  1
4  1

In [5]:
X_train = X[train_indices]
y_train = y[train_indices]
X_test = X[test_indices]
y_test = y[test_indices]

dataset = task.get_dataset()
_, _, categorical_indicator = dataset.\
    get_data(target=task.target_name, return_categorical_indicator=True)

# Create feature type list from openml.org indicator and run autosklearn
feat_type = ['Categorical' if ci else 'Numerical'
             for ci in categorical_indicator]

cls = autosklearn.classification.\
    AutoSklearnClassifier(time_left_for_this_task=120,
                          per_run_time_limit=30)
cls.fit(X_train, y_train, feat_type=feat_type)

predictions = cls.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, predictions))

[WARNING] [2017-05-17 16:24:01,222:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger
[WARNING] [2017-05-17 16:24:01,222:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger
[WARNING] [2017-05-17 16:24:01,227:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger
[WARNING] [2017-05-17 16:24:01,227:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger
Accuracy score 0.851523236334